h1 {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.form {
  background-color: lightblue;
  padding: 20px;
  width: 100%;
}
.preview {
  width: 100%;
  background-color: lightcoral;
  padding: 20px;
}
.hide {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }
}
